body{
    width: 100%;
    font-family: 'Open-sans', sans-serif;
}

header{
    background-color: royalblue;
    color: white;
    padding: 10px;
    border-bottom: solid skyblue;
    font-family: 'Oswald', sans-serif;

}

.traits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: cornflowerblue;
    padding: 5px;
    border-radius: 10px;
    align-items: flex-start;
   
}

.adoptions{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


.dog {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 32%;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
.dog img{
    
    width: 100%;
}

.donate-banner{
    display: flex;
    flex-flow: wrap;
    flex: 1;
    background-image: url(starter_files/images/donate.jpg);
    opacity: 0.6;
    width: 33%;
    height: 100%;

}
.donate-banner p{
    opacity: 1;
    text-align: center;
}
.volunteer-banner{
    display: flex;
    flex-flow: wrap;
    flex:1;
    background-image: url(starter_files/images/volunteer.jpg);
    opacity: 0.6;
    width: 33%;
    height: 100%;
}
.volunteer-banner p{
    opacity: 1;
    text-align: center;
} 

.our-location{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    background-image: url(starter_files/images/location.png);
    width: 33%;
    height: 100%;
    opacity: 0.6;
    flex: 1;

}
.our-location p{
    opacity: 1;
    text-align: center;
}
footer{
    height: 300px;
    background-color: mediumpurple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}



